@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Plus+Jakarta+Sans:wght@500&family=Shadows+Into+Light+Two&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    @apply leading-normal tracking-normal;
    /* background-color: #FEFDEE; */
    /* background-image: url(../assets/svg/bg.svg); */
    background-size: cover;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: darkgrey transparent;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 3px;
  }
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: #C1B582;
    border-radius: 8px;
  }

@font-face {
    font-family: 'EksellDisplaySubset';
    src: local('EksellDisplaySubset'), url('./fonts/EksellDisplaySubset.woff2') format('woff2');
}
